In [4]:
import pandas as pd
import numpy as np
import os
notebook_home = os.path.abspath('')
lookup_results = notebook_home + "/lookup_results"
test_results = notebook_home + "/test_results"
enron_stat = test_results + "/enron"
github_stat = test_results + "/github"
enron_output = lookup_results + "/enron/output"
enron_input = lookup_results + "/enron/input"
github_input = lookup_results + "/github/input"
github_output = lookup_results + "/github/output"

In [5]:
import seaborn as sns 
import matplotlib.pyplot as plt

## Compressed Formula Graph Sizes

In [7]:
df_enron_stat = pd.read_csv(enron_stat + "/" + "enron_taco_stat_10k.csv")
df_github_stat = pd.read_csv(github_stat + "/" + "github_taco_stat_10k.csv")
df_github_inrow_stat = pd.read_csv(github_stat + "/" + "github_inrow_taco_stat_10k.csv")

In [8]:
df_enron_stat

,fileName,numFormulae,numVertices,numEdges,numCompVertices,numCompEdges,RR-Chain_Comp,RR-Chain_NoComp,RR_Comp,RR_NoComp,...,RRGapFour_Comp,RRGapFour_NoComp,RRGapFive_Comp,RRGapFive_NoComp,RRGapSix_Comp,RRGapSix_NoComp,RRGapSeven_Comp,RRGapSeven_NoComp,NoComp_Comp,NoComp_NoComp
0,chris_germany_000_1_2.pst.1111.xls,8270,27200,26350,11520,11160,0,0,10230,24180,...,0,0,0,0,0,0,0,0,0,0
1,chris_germany_000_1_2.pst.1136.xls,1707,54464,52762,23059,22322,0,0,20446,48393,...,0,0,0,0,0,0,0,0,3,3
2,kevin_ruscitti_000_1_1.pst.100.xls,8268,27200,26350,11520,11160,0,0,10230,24180,...,0,0,0,0,0,0,0,0,0,0
3,kevin_ruscitti_000_1_1.pst.101.xls,8268,27200,26350,11520,11160,0,0,10230,24180,...,0,0,0,0,0,0,0,0,0,0
4,kevin_ruscitti_000_1_1.pst.152.xls,12398,27200,26350,11520,11160,0,0,10230,24180,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,matthew_lenhart_000_1_1.pst.20.xls,36455,49227,121520,849,943,20,819,315,43904,...,8,26,8,16,1,2,3,6,67,67
589,phillip_allen_000_1_1.pst.253.xls,36455,49227,121520,849,943,20,819,315,43904,...,8,26,8,16,1,2,3,6,67,67
590,matthew_lenhart_000_1_1.pst.23.xls,39086,52138,132032,879,985,20,819,326,46521,...,8,26,8,16,1,2,3,6,67,67
591,mike_grigsby_000_1_1_1.pst.108.xls,39075,52104,131968,876,983,20,819,324,46500,...,8,26,8,16,1,2,3,6,67,67
592,john_lavorato_001_1_1_1.pst.94.xls,69539,104347,312703,37,36,3,20841,24,159858,...,0,0,0,0,0,0,0,0,3,3

In [13]:
df_enron_stat['numVertices'].sum(), df_enron_stat['numEdges'].sum(), df_enron_stat['numCompVertices'].sum(), df_enron_stat['numCompEdges'].sum()

(18467065, 27083750, 1315183, 1210209)

In [11]:
df_enron_stat['numCompVertices'].sum() / df_enron_stat['numVertices'].sum()

0.07121775983351984

In [12]:
df_enron_stat['numCompEdges'].sum() / df_enron_stat['numEdges'].sum()

0.044683952554576085

In [14]:
df_github_stat['numVertices'].sum(), df_github_stat['numEdges'].sum(), df_github_stat['numCompVertices'].sum(), df_github_stat['numCompEdges'].sum()

(160240056, 216050038, 3524109, 2884193)

In [15]:
df_github_stat['numCompVertices'].sum() / df_github_stat['numVertices'].sum()

0.021992684525771758

In [17]:
df_github_stat['numCompEdges'].sum() / df_github_stat['numEdges'].sum()

0.013349652824407279

In [10]:
df_github_inrow_stat['numCompEdges'].sum() / df_github_inrow_stat['numEdges'].sum()

0.4028088594117958

## Building Graphs

In [23]:
column_list = ['fileName', 'GraphBuildTime']
df_enron_taco_max = pd.read_csv(f"{enron_output}/enron_max_taco_10k.csv")[column_list]
df_enron_taco_long = pd.read_csv(f"{enron_output}/enron_long_taco_10k.csv")[column_list]
df_enron_nocomp_max = pd.read_csv(f"{enron_output}/enron_max_nocomp_10k.csv")[column_list]
df_enron_nocomp_long = pd.read_csv(f"{enron_output}/enron_long_nocomp_10k.csv")[column_list]
df_github_taco_max =  pd.read_csv(f"{github_output}/github_max_taco_10k.csv")[column_list]
df_github_taco_long = pd.read_csv(f"{github_output}/github_long_taco_10k.csv")[column_list]
df_github_nocomp_max = pd.read_csv(f"{github_output}/github_max_nocomp_10k.csv")[column_list]
df_github_nocomp_long = pd.read_csv(f"{github_output}/github_long_nocomp_10k.csv")[column_list]

In [28]:
df_enron_taco = pd.merge(df_enron_taco_max, df_enron_taco_long, how="inner", on=["fileName"])
df_enron_nocomp = pd.merge(df_enron_nocomp_max, df_enron_nocomp_long, how="inner", on=["fileName"])
df_enron_taco['TACO_GraphBuildTime'] = (df_enron_taco['GraphBuildTime_x'] + df_enron_taco['GraphBuildTime_y']) / 2.
df_enron_nocomp['NoComp_GraphBuildTime'] = (df_enron_nocomp['GraphBuildTime_x'] + df_enron_nocomp['GraphBuildTime_y']) / 2.

In [29]:
enron_graph_result = pd.merge(df_enron_taco, df_enron_nocomp, how="inner", on=['fileName'])[['fileName', 'TACO_GraphBuildTime', 'NoComp_GraphBuildTime']]

In [35]:
enron_graph_result['TACO_GraphBuildTime'].mean(), enron_graph_result['NoComp_GraphBuildTime'].mean()

(1011.316722972973, 322.6418918918919)

In [36]:
df_github_taco = pd.merge(df_github_taco_max, df_github_taco_long, how="inner", on=["fileName"])
df_github_nocomp = pd.merge(df_github_nocomp_max, df_github_nocomp_long, how="inner", on=["fileName"])
df_github_taco['TACO_GraphBuildTime'] = (df_github_taco['GraphBuildTime_x'] + df_github_taco['GraphBuildTime_y']) / 2.
df_github_nocomp['NoComp_GraphBuildTime'] = (df_github_nocomp['GraphBuildTime_x'] + df_github_nocomp['GraphBuildTime_y']) / 2.

In [37]:
github_graph_result = pd.merge(df_github_taco, df_github_nocomp, how="inner", on=['fileName'])[['fileName', 'TACO_GraphBuildTime', 'NoComp_GraphBuildTime']]

In [38]:
github_graph_result['TACO_GraphBuildTime'].mean(), github_graph_result['NoComp_GraphBuildTime'].mean()

(1480.2192743764172, 745.8630385487528)

## Returning Control to Users

In [39]:
def rename_columns(df, is_long=False):
    rename_map = {
        "TACOLookupSize": "taco_size",
        "TACOLookupTime": "taco_time",
        "TACOPostProcessedLookupSize": "taco_post_size",
        "TACOPostProcessedLookupTime": "taco_post_time",
        "NoCompLookupSize": "nocomp_size",
        "NoCompLookupTime": "nocomp_time",
        "NoCompPostProcessedLookupSize": "nocomp_post_size",
        "NoCompPostProcessedLookupTime": "nocomp_post_time",
    }
    
    if is_long:
        for key in rename_map:
            rename_map[key] = "long_" + rename_map[key]
    else:
        for key in rename_map:
            rename_map[key] = "max_" + rename_map[key]
            
    df = df.rename(columns=rename_map)
    if "GraphBuildTime" in list(df.columns):
        df = df.drop(['GraphBuildTime'], axis=1)
        
    return df

In [41]:
df_enron_taco_max = rename_columns(pd.read_csv(f"{enron_output}/enron_max_taco_10k.csv"), False)
df_enron_taco_long = rename_columns(pd.read_csv(f"{enron_output}/enron_long_taco_10k.csv"), True)
df_enron_nocomp_max = rename_columns(pd.read_csv(f"{enron_output}/enron_max_nocomp_10k.csv"), False)
df_enron_nocomp_long = rename_columns(pd.read_csv(f"{enron_output}/enron_long_nocomp_10k.csv"), True)
df_github_taco_max = rename_columns(pd.read_csv(f"{github_output}/github_max_taco_10k.csv"), False)
df_github_taco_long = rename_columns(pd.read_csv(f"{github_output}/github_long_taco_10k.csv"), True)
df_github_nocomp_max = rename_columns(pd.read_csv(f"{github_output}/github_max_nocomp_10k.csv"), False)
df_github_nocomp_long = rename_columns(pd.read_csv(f"{github_output}/github_long_nocomp_10k.csv"), True)

### Merge

In [42]:
df_enron_max = pd.merge(df_enron_taco_max, df_enron_nocomp_max, how="inner", on=["fileName", "Max Dep Ref"])
df_enron_long = pd.merge(df_enron_taco_long, df_enron_nocomp_long, how="inner", on=["fileName", "Longest Dep Ref"])

In [43]:
df_enron_merged = pd.merge(df_enron_max, df_enron_long, how="inner", on=["fileName"])
# df_enron_merged.to_csv("./enron_result_merged.csv", index=False)

In [44]:
df_enron_merged.head()

,fileName,Max Dep Ref,max_taco_size,max_taco_time,max_taco_post_size,max_taco_post_time,max_nocomp_size,max_nocomp_time,max_nocomp_post_size,max_nocomp_post_time,Longest Dep Ref,long_taco_size,long_taco_time,long_taco_post_size,long_taco_post_time,long_nocomp_size,long_nocomp_time,long_nocomp_post_size,long_nocomp_post_time
0,stacey_white_000_1_1.pst.254.xls,AlphaSort:F6836,3,8,1,8,3,29,1,30,AlphaSort:F4400,3,29,1,30,3,26,1,27
1,darron_c_giron_002_1_1_1.pst.177.xls,Darron:E5,205,10,205,11,2978,78,2978,84,Darron:J4,205,6,205,7,2978,87,2978,96
2,stacey_white_000_1_1.pst.262.xls,BRA Power:A6,28,1,27,1,4385,463,4385,468,BRA Power:A6,28,1,27,1,4385,499,4385,504
3,mike_grigsby_000_1_1_1.pst.248.xls,Months:F4,4,0,4,0,306,3,306,3,Months:F4,4,0,4,0,306,2,306,2
4,kevin_ruscitti_000_1_1.pst.156.xls,03-21-00AM:BT499,0,0,0,0,0,0,0,0,03-21-00AM:X531,1,0,1,0,1,0,1,0

In [45]:
df_github_max = pd.merge(df_github_taco_max, df_github_nocomp_max, how="inner", on=["fileName", "Max Dep Ref"])
df_github_long = pd.merge(df_github_taco_long, df_github_nocomp_long, how="inner", on=["fileName", "Longest Dep Ref"])

In [46]:
df_github_merged = pd.merge(df_github_max, df_github_long, how="inner", on=["fileName"])
# df_github_merged.to_csv("./github_result_merged.csv", index=False)

In [47]:
df_github_merged.head()

,fileName,Max Dep Ref,max_taco_size,max_taco_time,max_taco_post_size,max_taco_post_time,max_nocomp_size,max_nocomp_time,max_nocomp_post_size,max_nocomp_post_time,Longest Dep Ref,long_taco_size,long_taco_time,long_taco_post_size,long_taco_post_time,long_nocomp_size,long_nocomp_time,long_nocomp_post_size,long_nocomp_post_time
0,1. Excel Homework.xlsx,Sheet1:E4030,2,8,1,10,2,29,1,30,Sheet1:J3248,1,9,1,10,1,35,1,36
1,2019-05-23-0936_empty_racir.xlsx,Measurements:E13,20,1,5,1,6600,192,6600,203,Measurements:C11,17,1,6,1,5610,180,5610,192
2,NIRISS_SIAF.xlsx,Calc:AE3,23,1,6,1,690,14,690,15,DDC:C20,6,0,2,1,22,0,2,0
3,工作簿1-20181122170204822.xlsx,不良明细:CBJ5,1,0,1,0,2,0,1,0,不良明细:CEA5,1,1,1,1,2,0,1,0
4,W22704-181.xlsx,Sheet1:E2,4,0,4,0,14196,185,14196,201,Sheet1:D2,4,0,4,0,14196,166,14196,184

### Analyze Enron results

In [48]:
df_enron_merged

,fileName,Max Dep Ref,max_taco_size,max_taco_time,max_taco_post_size,max_taco_post_time,max_nocomp_size,max_nocomp_time,max_nocomp_post_size,max_nocomp_post_time,Longest Dep Ref,long_taco_size,long_taco_time,long_taco_post_size,long_taco_post_time,long_nocomp_size,long_nocomp_time,long_nocomp_post_size,long_nocomp_post_time
0,stacey_white_000_1_1.pst.254.xls,AlphaSort:F6836,3,8,1,8,3,29,1,30,AlphaSort:F4400,3,29,1,30,3,26,1,27
1,darron_c_giron_002_1_1_1.pst.177.xls,Darron:E5,205,10,205,11,2978,78,2978,84,Darron:J4,205,6,205,7,2978,87,2978,96
2,stacey_white_000_1_1.pst.262.xls,BRA Power:A6,28,1,27,1,4385,463,4385,468,BRA Power:A6,28,1,27,1,4385,499,4385,504
3,mike_grigsby_000_1_1_1.pst.248.xls,Months:F4,4,0,4,0,306,3,306,3,Months:F4,4,0,4,0,306,2,306,2
4,kevin_ruscitti_000_1_1.pst.156.xls,03-21-00AM:BT499,0,0,0,0,0,0,0,0,03-21-00AM:X531,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,don_baughman_000_1_1.pst.127.xls,Sheet1:C47,37,0,21,0,37,0,21,0,Sheet1:C38,37,1,21,1,37,0,21,0
588,kevin_ruscitti_000_1_1.pst.4.xls,Swap:A8,29,0,29,0,1159,13,1159,13,Swap:A8,29,0,29,0,1159,15,1159,15
589,jane_tholt_000_1_1.pst.198.xls,Summary:B185,57,0,57,0,1485,121,1485,121,Study 4a:A9,12,0,9,0,82,0,76,0
590,andy_zipper_000_1_1.pst.67.xls,DD-ENA:F500,4,0,4,0,8,0,8,0,DD-EGL:P29,3,0,3,0,3,0,3,0
591,joe_parks_000_1_1.pst.211.xls,Jan 01 trial:AW14,13,0,13,0,13,0,13,0,Jan 01 trial:AB14,0,0,0,0,0,0,0,0

In [49]:
df_larger_than = df_enron_merged[(df_enron_merged["max_taco_time"] > df_enron_merged["max_nocomp_time"]) & (df_enron_merged["max_nocomp_time"] > 10)]
df_larger_than[["fileName", "max_taco_time", "max_nocomp_time"]]

Empty DataFrame
Columns: [fileName, max_taco_time, max_nocomp_time]
Index: []

In [50]:
threshold=500
df_enron_merged[df_enron_merged["max_nocomp_time"] > threshold][["fileName", "max_nocomp_time"]]

                               fileName  max_nocomp_time
87     dutch_quigley_000_1_1.pst.51.xls            10006
127  mike_grigsby_000_1_1_1.pst.106.xls             1116
144  matthew_lenhart_000_1_1.pst.23.xls             1639
173    stacey_white_000_1_1.pst.287.xls              513
197  matthew_lenhart_000_1_1.pst.20.xls             1498
220    mark_haedicke_000_1_2.pst.31.xls              966
267     harry_arora_000_1_1.pst.130.xls            10214
269   matthew_lenhart_000_1_1.pst.1.xls              538
280      vkaminski_001_1_2_1.pst.62.xls              550
301  mike_grigsby_000_1_1_1.pst.108.xls             1378
344      vkaminski_000_1_1_1.pst.26.xls             1361
375   jim_schwieger_000_1_1.pst.100.xls             9640
407   phillip_allen_000_1_1.pst.102.xls             1016
469    rick_buy_000_1_1_1_1.pst.186.xls              828
522   phillip_allen_000_1_1.pst.253.xls             1062
561  matthew_lenhart_000_1_1.pst.19.xls             1067
563    jim_schwieger_000_1_1.pst.71.xls             9953
576     kevin_presto_000_1_1.pst.16.xls             4742
585   jim_schwieger_000_1_1.pst.106.xls             9249

In [51]:
df_enron_merged[df_enron_merged["long_nocomp_time"] > threshold][["fileName", "long_nocomp_time"]]

                               fileName  long_nocomp_time
87     dutch_quigley_000_1_1.pst.51.xls              8996
220    mark_haedicke_000_1_2.pst.31.xls               901
267     harry_arora_000_1_1.pst.130.xls             14191
280      vkaminski_001_1_2_1.pst.62.xls               617
375   jim_schwieger_000_1_1.pst.100.xls             12510
526   john_griffith_000_1_1.pst.185.xls              6862
563    jim_schwieger_000_1_1.pst.71.xls              9732
576     kevin_presto_000_1_1.pst.16.xls              4983
580  jonathan_mckay_000_1_1.pst.122.xls               642
585   jim_schwieger_000_1_1.pst.106.xls             10171

In [52]:
df_enron_merged[df_enron_merged["max_taco_time"] > threshold][["fileName", "max_taco_time"]]

Empty DataFrame
Columns: [fileName, max_taco_time]
Index: []

In [53]:
df_enron_merged[df_enron_merged["long_taco_time"] > threshold][["fileName", "long_taco_time"]]

Empty DataFrame
Columns: [fileName, long_taco_time]
Index: []

### Analyze github dataset

In [54]:
df_larger_than = df_github_merged[(df_github_merged["max_taco_time"] > df_github_merged["max_nocomp_time"]) & (df_github_merged["max_nocomp_time"] > 10)]
df_larger_than[["fileName", "max_taco_time", "max_nocomp_time"]]

                           fileName  max_taco_time  max_nocomp_time
682  H2_consumption_test_15min.xlsx             65               61

In [55]:
threshold=500
df_github_merged[df_github_merged["max_nocomp_time"] > threshold][["fileName", "max_nocomp_time"]]

                                              fileName  max_nocomp_time
10                     Fact2Sheet_Corona_20200607.xlsx             3676
65                               Kraken_BTCEUR_1h.xlsx              575
90                                       crime_v3.xlsx              667
152                         gaslines_model_public.xlsx           862665
154   Tio Cash Master 1400 Find Ratio of Star-fam.xlsx              547
...                                                ...              ...
2145                         螺纹_LLT模型-带止损-实盘记录优化版.xlsx            11606
2151                                         经济总表.xlsx            31582
2166                                   최경묵_퍼셉트론엑셀.xlsx             1126
2196                                    aero_test.xlsx             1110
2199                       Ventas 2.0 exceldiario.xlsx             1868

[106 rows x 2 columns]

In [56]:
df_github_merged[df_github_merged["long_nocomp_time"] > threshold][["fileName", "long_nocomp_time"]]

                               fileName  long_nocomp_time
59                     地方政府债券整理-hs.xlsx               633
72                            Day2.xlsx               581
90                        crime_v3.xlsx               829
131                        DMD_PRJ.xlsx              1346
152          gaslines_model_public.xlsx            785325
...                                 ...               ...
2122  Office Energy Usage_Workbook.xlsx               541
2132          homework7_ducharme_h.xlsx               609
2166                    최경묵_퍼셉트론엑셀.xlsx              1657
2196                     aero_test.xlsx              1437
2202               Outer size Code.xlsx               835

[78 rows x 2 columns]

In [57]:
df_github_merged[df_github_merged["max_taco_time"] > threshold][["fileName", "max_taco_time"]]

Empty DataFrame
Columns: [fileName, max_taco_time]
Index: []

In [58]:
df_github_merged[df_github_merged["long_taco_time"] > threshold][["fileName", "long_taco_time"]]

Empty DataFrame
Columns: [fileName, long_taco_time]
Index: []