In [1]:
import pandas as pd

In [90]:
def preprocess_df(df):
    column_name = [
        'File name', 'Formulae', 'Vertices', 'Edges', 'TACO Vertices', 'TACO Edges',
        'RR-Chain-Comp', 'RR-Chain-NoComp', 'RR-Comp', 'RR-NoComp', 'RF-Comp', 'RF-NoComp', 'FR-Comp', 'FR-NoComp', 'FF-Comp', 'FF-NoComp',
        'RR-GapOne', 'RR-GapOne-NoComp', 'RR-GapTwo', 'RR-GapTwo-NoComp', 'RR-GapThree', 'RR-GapThree-NoComp', 'RR-GapFour', 'RR-GapFour-NoComp', 
        'RR-GapFive', 'RR-GapFive-NoComp', 'RR-GapSix', 'RR-GapSix-NoComp', 'RR-GapSeven', 'RR-GapSeven-NoComp', 'NoType', 'NoType-NoComp'
    ]
    df.columns = column_name
    df.set_index(['File name'], inplace=True)
    return df

In [113]:
df = pd.read_csv("./short_test_stat.csv", header=None)
df_new = pd.read_csv("./new_short_test_stat.csv", header=None)
df = preprocess_df(df)
df_new = preprocess_df(df_new)

In [114]:
len(df), len(df_new)

(2, 1)

In [116]:
df

,Formulae,Vertices,Edges,TACO Vertices,TACO Edges,RR-Chain-Comp,RR-Chain-NoComp,RR-Comp,RR-NoComp,RF-Comp,...,RR-GapFour,RR-GapFour-NoComp,RR-GapFive,RR-GapFive-NoComp,RR-GapSix,RR-GapSix-NoComp,RR-GapSeven,RR-GapSeven-NoComp,NoType,NoType-NoComp
File name,,,,,,,,,,,,,,,,,,,,,
test.xls,18,20,36,3,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
test.xls,18,20,36,3,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
df_new

,Formulae,Vertices,Edges,TACO Vertices,TACO Edges,RR-Chain-Comp,RR-Chain-NoComp,RR-Comp,RR-NoComp,RF-Comp,...,RR-GapFour,RR-GapFour-NoComp,RR-GapFive,RR-GapFive-NoComp,RR-GapSix,RR-GapSix-NoComp,RR-GapSeven,RR-GapSeven-NoComp,NoType,NoType-NoComp
File name,,,,,,,,,,,,,,,,,,,,,
test.xls,18,20,36,3,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [115]:
(df - df_new).describe()

,Formulae,Vertices,Edges,TACO Vertices,TACO Edges,RR-Chain-Comp,RR-Chain-NoComp,RR-Comp,RR-NoComp,RF-Comp,...,RR-GapFour,RR-GapFour-NoComp,RR-GapFive,RR-GapFive-NoComp,RR-GapSix,RR-GapSix-NoComp,RR-GapSeven,RR-GapSeven-NoComp,NoType,NoType-NoComp
count,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
vertices_diff = df[['TACO Vertices']] - df_new[['TACO Vertices']]
vertices_diff

                   TACO Vertices
File name
github_long2.xlsx              0
github_long3.xlsx              0
enron_max1.xls                 0
enron_max3.xls                 0
enron_max2.xls                 0
github_max1.xlsx               0
enron_max5.xls                 0
enron_max4.xls                 0
enron_long1.xls                0
enron_long3.xls                0
enron_long2.xls                0
github_max2.xlsx               0
github_max3.xlsx               0
github_max4.xlsx               0
github_long1.xlsx              0
github_max5.xlsx               0

In [109]:
vertices_diff['TACO Vertices'].describe()

count    16.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: TACO Vertices, dtype: float64

In [110]:
edge_diff = df[['TACO Edges']] - df_new[['TACO Edges']]
edge_diff

                   TACO Edges
File name
github_long2.xlsx           0
github_long3.xlsx           0
enron_max1.xls              0
enron_max3.xls              0
enron_max2.xls              0
github_max1.xlsx            0
enron_max5.xls              0
enron_max4.xls              0
enron_long1.xls             0
enron_long3.xls             0
enron_long2.xls             0
github_max2.xlsx            0
github_max3.xlsx            0
github_max4.xlsx            0
github_long1.xlsx           0
github_max5.xlsx            0

In [111]:
edge_diff['TACO Edges'].describe()

count    16.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: TACO Edges, dtype: float64